<div>
    <div class="flex gap-1 items-center">
        <div class="relative inline-flex items-center justify-center w-16 h-16 border border-slate-200 overflow-hidden bg-gray-100 rounded-lg dark:bg-gray-600 mr-3">
            <span class="text-xl uppercase font-bold text-gray-600 dark:text-gray-300">
                {% if message.name %}
                    {{message.name|slice:"0:2"}}
                {% else %}
                    {{message.email|slice:"0:2"}}
                {% endif %}
            </span>
        </div>
        <div>
            <h5 class="font-bold text-gray-900">{{message.name}}</h5>
            <h5 class="font-semibold text-gray-900">{{message.email}}</h5>
            <h5 class="text-[14px] font-semibold text-gray-600">{{message.created_at}}</h5>
        </div>
    </div>
    <h5 class="mt-8 font-bold text-lg text-gray-800">{{message.subject}}</h5>
    <h5 class="mt-2">{{message.body}}</h5>
</div>