<div id="course-list-section">
    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400  min-w-[1000px] max-w-full">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="">
                    <th scope="col" class="text-start px-4 py-3">Thumbnail</th>
                    <th scope="col" class="text-center px-4 py-3">Fee</th>
                    <th scope="col" class="text-center px-4 py-3">Discount</th>
                    <th scope="col" class="text-center px-4 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                    <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                        <td class="flex gap-1 items-top px-4 py-2">
                            <div class="relative inline-flex items-center justify-center overflow-hidden">
                                <span class="text-xl uppercase font-bold text-gray-600 dark:text-gray-300">
                                <img src="{{course.thumbnail.url}}" alt="iMac Front Image" class="h-20 w-auto mr-1">
                            </div>
                            <div>
                                <h5 class="font-bold text-gray-900">{{course.title}}</h5>
                                <h5 class="font-semibold text-gray-900">{% if course.class_type == 'PhysicalClass' %}
                                    Physical Class
                                {% else %}
                                    Online Class
                                {% endif %}</h5>
                                <h5 class="font-semibold text-gray-900">{{course.start_date}}</h5>
                            </div>
                        </td>
                        <td class="text-center text-base px-4 py-2 font-bold whitespace-nowrap truncate max-w-[200px]">
                            {% if course.free %}
                                <span class="bg-green-200 text-green-700 px-2 py-0.5 rounded">free</span>
                            {% else %}
                                <span class="line-through text-sm text-red-500">{{course.fee}}</span> <span class="text-green-700 text-lg">{{course.final_fee}}</span>
                            {% endif %}
                        </td>
                        <td class="text-center px-4 py-2 font-bold text-gray-900 whitespace-nowrap truncate max-w-[200px]">
                            {% if not course.free and course.discount_amount %}
                                {{course.discount_amount}} {% if course.discount_type == 'percentage' %}%{% else %}TK{% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="">
                            <span class="px-4 py-1 rounded-md flex gap-4 justify-center w-full" >
                                <svg data-drawer-target="drawer" data-drawer-show="drawer" data-drawer-backdrop="false" aria-controls="drawer" hx-get="/admin/course/add?id={{course.id}}" hx-target="#drawer-content" hx-indicator="#loader" hx-swap="inneHTML" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 cursor-pointer p-1 hover:bg-slate-300 rounded-full">
                                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                    <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                </svg>
                                <svg hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-delete="/admin/course/delete?id={{course.id}}" hx-confirm="" hx-target="#course-list-section" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 cursor-pointer p-1 hover:bg-slate-300 rounded-full">
                                    <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                </svg>

                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page_obj.has_previous or page_obj.has_next %}
            <div class="flex flex-col items-center my-6">
                <div class="flex text-gray-700">
                    {% if page_obj.has_previous %}
                    <a href="/admin/course?page={{page_obj.previous_page_number}}"
                        class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-left w-6 h-6">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                    </a>
                    {% else %}
                    <div class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-gray-200 cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-left w-6 h-6">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                    </div>
                    {% endif %}
                    <div class="flex h-8 font-medium rounded-full bg-gray-200">

                        {% if page_obj.has_previous %} 
                            <a href="/admin/course?page=1"
                            class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">1</a>
                        {% endif %}

                        {% if page_obj.number|add:-2 > 1 %}
                            <span>...</span>
                        {% endif %}

                        {% if page_obj.number|add:-1 > 1 %}
                            <a href="/admin/course?page={{ page_obj.number|add:-1 }}"
                            class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">{{ page_obj.number|add:-1 }}</a>
                        {% endif %}

                        <div class="w-8 flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in  rounded-full bg-teal-600 text-white ">{{ page_obj.number }}</div>

                        {% if page_obj.number|add:1 < page_obj.paginator.num_pages %}
                            <a href="/admin/course?page={{ page_obj.number|add:1 }}"
                                class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">{{ page_obj.number|add:1 }}</a>
                        {% endif %}

                        {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}
                            <span>...</span>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <a href="/admin/course?page={{ page_obj.paginator.num_pages }}"
                                class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}


                        {% comment %} {% if page_obj.number > 1 %}
                            <div class="w-8 flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">1</div>
                        {% endif %}

                        {% if page_obj.has_previous and page_obj.number > 2 %}
                            <a href="/admin/course?page={{page_obj.previous_page_number}}"
                            class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">2</a>
                        {% endif %}

                        {% if page_obj.has_previous and page_obj.number > 3 %}
                            <span
                            class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">...</span>
                        {% endif %}

                        {% if page_obj.has_previous and page_obj.number > 4 %}
                            <a href="/admin/course?page={{page_obj.previous_page_number}}"
                            class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">{{page_obj.previous_page_number}}</a>
                        {% endif %}

                        <div class="w-8 flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in  rounded-full bg-teal-600 text-white ">{{ page_obj.number }}</div>

                        {% if page_obj.has_next %}
                            <a href="/admin/course?page={{page_obj.next_page_number}}"
                            class="w-8 flex justify-center items-center  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">{{page_obj.next_page_number}}</a>
                        {% endif %} {% endcomment %}
                    </div>
                    {% if page_obj.has_next %}
                    <a href="/admin/course?page={{page_obj.next_page_number}}"
                        class="h-8 w-8 ml-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-right w-6 h-6">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </a>
                    {% else %}
                    <div class="h-8 w-8 ml-1 flex justify-center items-center rounded-full bg-gray-200 cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-right w-6 h-6">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>