{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/flowbite/dist/flowbite.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/apexcharts/dist/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'tailwind/output.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"
        integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block style %}

    {% endblock style %}

    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>

<body>
    {% include 'component/topnav.html' %}

    <div class="absolute top-11 left-0 right-0 bottom-0 bg-gray-100 overflow-y-auto">
        {% block main %}

        {% endblock main %}
    </div>
    <script src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}"></script>
    <script src="{% static 'node_modules/apexcharts/dist/apexcharts.min.js' %}"></script>
</body>

</html>