{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="{% static 'xlsx/handsontable.full.min.css' %}">
  <script type="text/javascript" src="{% static 'xlsx/handsontable.full.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'xlsx/xlsx.full.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'xlsx/officeToHTML.js' %}"></script>
  <link rel="stylesheet" href="{% static 'xlsx/officeToHtml.css' %}">
</head>
<body>
  <div id="resolte-contaniner"></div>
  <script>
    var file_path = "http://localhost:8000{% static 'test.xlsx' %}"; 
    $("#resolte-contaniner").officeToHtml({
      url: file_path
    });
  </script>
</body>
</html>