{% extends 'dashboard/base.html' %}

{% block main %}
    <div class="flex justify-between items-center px-3 py-1 bg-white border-b border-b-slate-300">
        <h1 class="font-bold text-2xl text-slate-500">Users</h1>
        <nav class="flex my-4" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/admin" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <div class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            <svg class="w-3.5 h-3.5 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                            </svg>
                            Users
                        </div>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <form class="p-4">
        {% csrf_token %}
        <ul class="grid w-full gap-5 grid-cols-5">
            <li>
                <input hx-post="/admin/user/search" hx-trigger="click delay:250ms" hx-target="#user-list-section" type="radio" name="all" id="all-user" class="hidden peer" required="" value="all" checked>
                <label for="all-user" class="flex items-center justify-start gap-5 w-full p-5 text-gray-500 bg-white hover:bg-green-50 border-2 border-transparent hover:border-green-200 shadow-md rounded-lg cursor-pointer  peer-checked:border-green-500">
                        <div class="p-4 rounded-full bg-green-500 bg-opacity-25">
                            <svg class="flex-shrink-0 w-8 h-8 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                             </svg>
                        </div>
                        <div class="flex-col gap-5">
                            <h1 class="font-extrabold text-3xl">{{total_user}}</h1>
                            <h1 class="text-slate-500 font-semibold">Total User</h1>
                        </div>
                </label>
            </li>
            <li>
                <input hx-post="/admin/user/search" hx-trigger="click delay:250ms" hx-target="#user-list-section" type="radio" name="membership" id="premium" value="premium" class="hidden peer" required="">
                <label for="premium" class="flex items-center justify-start gap-5 w-full p-5 text-gray-500 bg-white hover:bg-green-50 border-2 border-transparent hover:border-green-200 shadow-md rounded-lg cursor-pointer  peer-checked:border-green-500">
                        <div class="p-4 rounded-full bg-green-500 bg-opacity-25">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                            </svg>
                        </div>
                        <div class="flex-col gap-5">
                            <h1 class="font-extrabold text-3xl">{{premium_user}}</h1>
                            <h1 class="text-slate-500 font-semibold">Premium User</h1>
                        </div>
                </label>
            </li>
            <li>
                <input hx-post="/admin/user/search" hx-trigger="click delay:250ms" hx-target="#user-list-section" type="radio" name="membership" id="free" value="free" class="hidden peer" required="">
                <label for="free" class="flex items-center justify-start gap-5 w-full p-5 text-gray-500 bg-white hover:bg-green-50 border-2 border-transparent hover:border-green-200 shadow-md rounded-lg cursor-pointer  peer-checked:border-green-500">
                        <div class="p-4 rounded-full bg-green-500 bg-opacity-25">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                            </svg>
                        </div>
                        <div class="flex-col gap-5">
                            <h1 class="font-extrabold text-3xl">{{free_user}}</h1>
                            <h1 class="text-slate-500 font-semibold">Free User</h1>
                        </div>
                </label>
            </li>
            <li>
                <input hx-post="/admin/user/search" hx-trigger="click delay:250ms" hx-target="#user-list-section" type="radio" name="gender" id="male-user" value="male" class="hidden peer" required="">
                <label for="male-user" class="flex items-center justify-start gap-5 w-full p-5 text-gray-500 bg-white hover:bg-green-50 border-2 border-transparent hover:border-green-200 shadow-md rounded-lg cursor-pointer  peer-checked:border-green-500">
                        <div class="p-4 rounded-full bg-green-500 bg-opacity-25">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                            </svg>
                        </div>
                        <div class="flex-col gap-5">
                            <h1 class="font-extrabold text-3xl">{{male_user}}</h1>
                            <h1 class="text-slate-500 font-semibold">Male User</h1>
                        </div>
                </label>
            </li>
            <li>
                <input hx-post="/admin/user/search" hx-trigger="click delay:250ms" hx-target="#user-list-section" type="radio" name="gender" id="female-user" value="female" class="hidden peer" required="">
                <label for="female-user" class="flex items-center justify-start gap-5 w-full p-5 text-gray-500 bg-white hover:bg-green-50 border-2 border-transparent hover:border-green-200 shadow-md rounded-lg cursor-pointer  peer-checked:border-green-500">
                        <div class="p-4 rounded-full bg-green-500 bg-opacity-25">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                            </svg>
                        </div>
                        <div class="flex-col gap-5">
                            <h1 class="font-extrabold text-3xl">{{female_user}}</h1>
                            <h1 class="text-slate-500 font-semibold">Female User</h1>
                        </div>
                </label>
            </li>
        </ul>
        
        
        <section class="my-3 drop-shadow-md sm:rounded-lg">
            <div class="mx-auto">
                <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
                    <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
                        <h1 class="text-lg font-bold text-slate-700">User List</h1>
                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input hx-post="/admin/user/search" hx-trigger="keyup change delay:250ms" hx-target="#user-list-section" name="keyword" type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                        </div>
                    </div>
                    <div id="user-list-section">
                        <div class="overflow-x-auto">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-4 py-3">User</th>
                                        <th scope="col" class="px-4 py-3">Phone</th>
                                        <th scope="col" class="px-4 py-3">Membership</th>
                                        <th scope="col" class="px-4 py-3">Join Date</th>
                                        <th scope="col" class="px-4 py-3">Last Login</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in user_list %}
                                        <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                                            <th scope="row" class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                <img src="{{user.picture.url}}" alt="iMac Front Image" class="w-16 h-16 object-cover rounded-md mr-3">
                                                <div class="flex flex-col justify-center gap-0">
                                                    <h1 class="text-lg font-bold text-slate-700">{{user.full_name}}</h1>
                                                    <h1 class="text-base font-normal text-slate-700">{{user.email}}</h1>
                                                </div>
                                            </th>
                                            <td class="px-4 py-2">
                                                <span class="bg-primary-100 text-primary-800 text-base font-medium py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">{{user.phone}}</span>
                                            </td>
                                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                <div class="flex items-center">
                                                    {% if user.membership.all %}
                                                        <div class="inline-block w-4 h-4 mr-2 bg-green-700 rounded-full"></div>
                                                        Premium
                                                    {% else %}
                                                        <div class="inline-block w-4 h-4 mr-2 bg-red-700 rounded-full"></div>
                                                        Free
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{user.date_joined}}</td>
                                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{user.last_login}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                Showing
                                <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                                of
                                <span class="font-semibold text-gray-900 dark:text-white">{{user_list | length }}</span>
                            </span>
                            <ul class="inline-flex items-stretch -space-x-px">
                                <li>
                                    <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Previous</span>
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                                </li>
                                <li>
                                    <a href="#" aria-current="page" class="z-10 flex items-center justify-center px-3 py-2 text-sm leading-tight border text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Next</span>
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>


    </form>

    <script>
        document.getElementById("premium").addEventListener("click", function() {
            document.getElementById("all-user").checked = false;
        });
        document.getElementById("free").addEventListener("click", function() {
            document.getElementById("all-user").checked = false;
        });
        document.getElementById("male-user").addEventListener("click", function() {
            document.getElementById("all-user").checked = false;
        });
        document.getElementById("female-user").addEventListener("click", function() {
            document.getElementById("all-user").checked = false;
        });
        document.getElementById("all-user").addEventListener("click", function() {
            document.getElementById("premium").checked = false
            document.getElementById("free").checked = false
            document.getElementById("male-user").checked = false
            document.getElementById("female-user").checked = false
        })
    </script>

{% endblock main %}
    